body {
    font-family: Arial, Helvettica, sans-serif;
}

header {

    border: 1px solid black;
    background-color: yellow;
    position: absolute;
    right: 0px;
    height: 200px;
    top:0px;
    width: 100%;
}

p {
    margin: 10px;
}

nav {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 500px;
    top:200px;
    left:0px;
    border: 1px solid black;
    background-color: orange;
}

#content {
    position: absolute;
    margin: 0;
    padding: 0;
    top:200px;
    left:150px;
}

section {
    left:0px;
    width: 600px;
    border: 1px solid black;
    background-color: yellowgreen;

}

footer {
   width:100%;
   clear: both;
   height:60px;
   border: 1px solid black;
   background-color: deepskyblue;
}
aside {
    float: right;
    margin: 0;
    padding: 0;
    width: 12em;
    border: 1px solid black;
    background-color: lightblue;
}

.hidden {
    display: none;
}